[submodule "submodules/helix"]
	path = submodules/helix
	url = https://github.com/helix-editor/helix.git
[submodule "submodules/zellij"]
	path = submodules/zellij
	url = https://github.com/zellij-org/zellij.git
